$primary-color: rgb(26 26 29 / 100%);
$secondary-color: rgb(55 55 55 / 100%);
$blue-color: rgb(2 125 255 / 100%);
$light-blue-color: rgb(204 229 255 / 100%);
$gray-color: rgb(136 137 138 / 100%);
$light-gray-color: rgb(187 197 207 / 100%);
$primary-bg: #f5f6fb;
$error-color: rgb(255 101 101 / 100%);
$placeholer-color: rgb(156 155 153 / 100%);
$red-color: #d10125;
