$primary-color: rgb(26 26 29 / 100%);
$blue-color: rgb(2 125 255 / 100%);
$light-blue-color: rgb(204 229 255 / 100%);
$gray-color: rgb(136 137 138 / 100%);
$light-gray-color: rgb(187 197 207 / 100%);
$error-color: rgb(255 101 101 / 100%);
$red-color: #d10125;
