.footer {
  background-color: #1e1f29;
  color: $red-color;
}

.inner {
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (width <= 768px) {
    flex-direction: column;
    gap: 40px;
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.loggesAs {
  color: white;
  font-size: 14px;
}
