.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: auto;
  margin-top: 40px;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgb(0 0 0 / 6%);
  flex-wrap: wrap;

  @media (width <= 420px) {
    padding: 10px 4px;
    gap: 4px;
  }
}

.pageInfo {
  font-size: 16px;
  font-weight: 500;
  padding: 0 8px;

  @media (width <= 420px) {
    font-size: 12px;
    padding: 0 4px;
  }
}
