.cartBtn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.inCart {
  background-color: #4caf50 !important;

  &:hover {
    background-color: #3b8b3b !important;
    border: 1px solid transparent !important;
    color: white !important;
  }
}

.icon {
  width: 16px;
  height: 16px;
  color: white;
}
